{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-native/recommended"
  ],
  "rules": {
    "no-unused-expressions": 2,
    "no-unused-vars": 2,
    "max-lines": [
      "error",
      100
    ],
    "semi": 2
  }
}